// Fonts
$main_font: "Avenir Next W01", "Avenir Next", "Neue Helvetica W01",
  "Helvetica Neue", Helvetica, sans-serif;

body {
  font-family: $main_font;
}

// Colors
$highlight_color: #02de91;
$muted_color: #969696;
